<div id="headerwrapper">
    <header>
        <nav>
            <li><a routerLink="/StringInterpolation">String interpolation</a></li>
            <li><a routerLink="/PropertyBinding">Property Binding</a></li>
            <li><a routerLink="/EventBinding">Event Binding</a></li>
            <li><a routerLink="/Directives">Directives</a></li>
            <li><a routerLink="/ServicesAndDependency">Services & Dependency</a></li>
            <li><a routerLink="/HandlingForms">Handling Forms</a></li>
        </nav>
    </header>
</div>